<template>
  <div id="app">
    <my-header
      :token="token"
      @logout="logout"
      @openConnexion="connexionOpen = true"
      @openInscription="inscriptionOpen = true"
    />
    <my-connexion @getToken="getToken" @close="connexionOpen = false" v-if="connexionOpen"/>
    <my-inscription @getToken="getToken" @close="inscriptionOpen = false" v-if="inscriptionOpen"/>

    <div class="container mt-5">
      <router-view v-if="token"/>
      <p v-else>Veuillez vous connecter pour accéder à votre calendrier</p>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import Header from "./components/Header";
import Connexion from "./components/Connexion";
import Inscription from "./components/Inscription";
export default {
  name: "app",
  data() {
    return {
      connexionOpen: false,
      inscriptionOpen: false,
      token: false
    };
  },
  methods: {
    getToken(token) {
      this.token = token;
      localStorage.setItem("token", token);
      axios.defaults.headers.common["Authorization"] = "Bearer " + token;
    },
    logout() {
      this.token = null;
      localStorage.removeItem("token");
      delete axios.defaults.headers.common["Authorization"];
    }
  },
  created() {
    this.token = localStorage.getItem("token") || null;
    if (this.token) {
      axios.defaults.headers.common["Authorization"] = "Bearer " + this.token;
    }
  },
  components: {
    myHeader: Header,
    myConnexion: Connexion,
    myInscription: Inscription
  }
};
</script>

<style>
.btn {
  border-radius: 100px;
}
</style>
