<template>
  <div>
    <form @submit.prevent="createEvent()">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Titre" v-model="name" required>
      </div>
      <div class="form-group">
        <Datepicker name="debut" v-model="date"/>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</template>

<script>
import Datepicker from "vuejs-datepicker";
import axios from "axios";
export default {
  data() {
    return {
      name: "",
      date: new Date()
    };
  },
  methods: {
    createEvent() {
      const event = {
        name: this.name,
        date: this.date.valueOf()
      };
      axios
        .post(this.$api + "/events/", event)
        .then(res => {
          this.$router.push("/");
        })
        .catch(err => console.log(err));
    }
  },
  components: {
    Datepicker: Datepicker
  }
};
</script>

<style>
</style>
