<template>
  <div>
    <div v-if="event" class="event">
      <h1>Titre : {{ event.name }}</h1>
      <p>Date : {{ dateLocal(event.date) }}</p>
    </div>
    <div v-else class="chargement">Chargement</div>
    <router-link to="/">Retourner à la liste</router-link>
  </div>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      event: false
    };
  },
  methods: {
    dateLocal(date) {
      return new Date(+date).toLocaleString();
    }
  },
  created() {
    axios
      .get(this.$api + "/events/" + this.$route.params.id)
      .then(res => {
        this.event = res.data.event;
      })
      .catch(err => console.log(err));
  }
};
</script>

<style>
</style>
