<template>
  <div>
    <h2>Mes évenements :</h2>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Titre</th>
          <th scope="col">Date</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <my-single-event
          v-for="(event, i) in events"
          :key="event.id"
          :num="i"
          :id="event.id"
          :titre="event.name"
          :date="event.date"
          @deleteEvent="deleteEvent"
        />
      </tbody>
    </table>
  </div>
</template>

<script>
import axios from "axios";
import SingleEvent from "../components/SingleEvent";
export default {
  data() {
    return {
      events: []
    };
  },
  methods: {
    deleteEvent(id) {
      axios
        .delete(this.$api + "/events/" + id)
        .then(res => {
          this.loadEvents();
        })
        .catch(err => console.log(err));
    },
    loadEvents() {
      axios
        .get(this.$api + "/events/")
        .then(res => {
          this.events = res.data.events;
        })
        .catch(err => console.log(err));
    }
  },
  created() {
    this.loadEvents();
  },
  components: {
    mySingleEvent: SingleEvent
  }
};
</script>

<style>
</style>
