<template>
  <div class="connexion-page">
    <div class="connexion-form" @click.stop>
      <button @click="close" type="button" class="close" data-dismiss="alert">&times;</button>
      <h3>Connexion :</h3>
      <form @submit.prevent="connexion">
        <div class="form-group row">
          <div class="col-sm-10">
            <input
              v-model="pseudo"
              type="text"
              class="form-control"
              placeholder="Entrez votre pseudo"
              required
            >
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-10">
            <input
              v-model="mdp"
              type="password"
              class="form-control"
              placeholder="Entrez votre mot de passe"
              required
            >
          </div>
        </div>
        <p v-if="fail" class="text-danger">Connexion échouée !</p>
        <button class="btn btn-primary">Connexion</button>
      </form>
    </div>
  </div>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      pseudo: "",
      mdp: "",
      fail: false
    };
  },
  methods: {
    close() {
      this.$emit("close");
    },
    connexion() {
      this.fail = false;
      const user = {
        name: this.pseudo,
        mdp: this.mdp
      };
      axios
        .post(this.$api + "/users/login", user)
        .then(res => {
          const token = res.data.jwt;
          this.$emit("getToken", token);
          this.close();
        })
        .catch(err => console.log(err));
    }
  },
  created() {
    setTimeout(() => {
      document.addEventListener("click", this.close);
    }, 500);
  },
  destroyed() {
    document.removeEventListener("click", this.close);
  }
};
</script>

<style>
.connexion-page {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.connexion-form {
  background: #fff;
  width: 600px;
  margin: 300px auto;
  padding: 50px;
  cursor: auto;
}
</style>
