<template>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <router-link class="navbar-brand" to="/">Calendrier</router-link>
    <ul class="navbar-nav mr-auto">
      <li v-if="!token" class="nav-item">
        <a @click.prevent="openConnexion" class="nav-link">Connexion</a>
      </li>
      <li v-if="!token" class="nav-item">
        <a @click.prevent="openInscription" class="nav-link">Inscription</a>
      </li>
      <li v-if="token" class="nav-item">
        <router-link to="/event/add" class="nav-link">Nouvel event</router-link>
      </li>
      <li v-if="token" class="nav-item">
        <a @click.prevent="logout" class="nav-link">Déconnexion</a>
      </li>
    </ul>
  </nav>
</template>

<script>
export default {
  props: ["token"],
  methods: {
    openConnexion() {
      this.$emit("openConnexion");
    },
    openInscription() {
      this.$emit("openInscription");
    },
    logout() {
      this.$emit("logout");
    }
  }
};
</script>

<style>
a {
  cursor: pointer;
}
</style>
