<template>
  <div class="inscription-page">
    <div class="inscription-form" @click.stop>
      <button @click="close" type="button" class="close" data-dismiss="alert">&times;</button>
      <h3>Inscription :</h3>
      <form @submit.prevent="inscription">
        <div class="form-group row">
          <div class="col-sm-10">
            <input
              v-model="pseudo"
              type="text"
              class="form-control"
              placeholder="Entrez votre pseudo"
              required
            >
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-10">
            <input
              v-model="mdp1"
              type="password"
              class="form-control"
              placeholder="Entrez votre mot de passe"
              required
            >
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-10">
            <input
              v-model="mdp2"
              type="password"
              class="form-control"
              placeholder="Confirmez votre mot de passe"
              required
            >
          </div>
        </div>
        <p v-if="mdpfalse" class="text-danger">Les mots de passes ne correspondent pas !</p>
        <button class="btn btn-primary">Inscription</button>
      </form>
    </div>
  </div>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      pseudo: "",
      mdp1: "",
      mdp2: "",
      mdpfalse: false
    };
  },
  methods: {
    close() {
      this.$emit("close");
    },
    inscription() {
      this.mdpfalse = false;
      if (this.mdp1 !== this.mdp2) {
        this.mdpfalse = true;
      } else {
        const user = {
          name: this.pseudo,
          mdp: this.mdp1
        };
        axios
          .post(this.$api + "/users/signup", user)
          .then(res => {
            axios.post(this.$api + "/users/login", user).then(res => {
              const token = res.data.jwt;
              this.$emit("getToken", token);
              this.close();
            });
          })
          .catch(err => console.log(err));
      }
    }
  },
  created() {
    setTimeout(() => {
      document.addEventListener("click", this.close);
    }, 500);
  },
  destroyed() {
    document.removeEventListener("click", this.close);
  }
};
</script>

<style>
.inscription-page {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.inscription-form {
  background: #fff;
  width: 600px;
  margin: 300px auto;
  padding: 50px;
  cursor: auto;
}
</style>
