<template>
  <tr>
    <th scope="row">{{ num }}</th>
    <td>{{ titre }}</td>
    <td>{{ dateLocal(date) }}</td>
    <td>
      <router-link :to="'/event/' + id">Voir plus de détails</router-link>
    </td>
    <td>
      <button class="btn btn-danger" @click.prevent="deleteEvent">Supprimer</button>
    </td>
  </tr>
</template>

<script>
export default {
  props: ["id", "titre", "date", "num"],
  methods: {
    dateLocal(date) {
      return new Date(+date).toLocaleString();
    },
    deleteEvent() {
      this.$emit("deleteEvent", this.id);
    }
  }
};
</script>

<style>
</style>
